
{% block time_widget %}
	<div class="input-group date bootstrap-timepicker timepicker">
		<input type="text" {{ required ? 'required' : '' }} id="{{id}}" name="{{full_name}}" value="{{ value }}" class="form-control">
		<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
		<script>
            $("#{{id}}").timepicker({
                defaultTime: false,
                minuteStep: 5,
                showMeridian: false,
                timeFormat: 'H:i'
            });
		</script>
	</div>
{% endblock %}

{% block date_widget %}
	<label for="{{ id }}">{{ label }}</label>
	<div class="input-group date bootstrap-datepicker datepicker">
		<input type="text" {{ required ? 'required' : '' }} id="{{id}}" name="{{full_name}}"  value="{{value}}" class="form-control">
		<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		<script>
            $( function() {
                $("#{{id}}").datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true,
                    dateFormat: 'yy-mm-dd'
                });
            } );
		</script>
	</div>
{% endblock %}
