
{% block _booking_appbundle_book_products_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('_booking_appbundle_book_products_entry_row') }) %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            {% for widget in form.children %}
                {{ form_row(widget) }}
            {% endfor %}
        </div>

    {% endspaceless %}

    <script>
        $( document ).ready(function() {
            $("#form_collection_add_product").data("target", "{{ id }}");
            $(document).on('click', '#form_collection_add_product', function(event) {
                var collectionHolder = $('#' + $(this).data('target'));

                if (!collectionHolder.attr('data-counter')) {
                    collectionHolder.attr('data-counter', collectionHolder.children().length);
                }

                var prototype = collectionHolder.attr('data-prototype');
                var form = prototype.replace(/__name__/g, collectionHolder.attr('data-counter'));

                collectionHolder.attr('data-counter', Number(collectionHolder.attr('data-counter')) + 1);
                collectionHolder.append(form);

                event && event.preventDefault();
            });

            $(document).on('click', '#form_collection_remove[data-related]', function(event) {
                var name = $(this).attr('data-related');
                $('*[data-content="'+name+'"]').remove();

                event && event.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block _booking_appbundle_book_products_entry_row %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set form = prototype %}
        {% endif %}
        <div id="{{ form.vars.id }}" data-content="{{ form.vars.id }}" class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ form_label(form, 'Product #' ~ (form.vars.name)) }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button id="form_collection_remove" data-related="{{ form.vars.id }}" class="btn btn-danger">Remove</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ include('form/core/product_met.html.twig', {form: form}) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _booking_appbundle_book_products_entry_customers_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('_bab_book_products_e_customers_e_widget') }) %}
    {% endif %}
    {{ form_errors(form) }}
    <label class="control-label" for="{{ id }}">{{ label }}</label>
    <div {{ block('widget_container_attributes') }}>
        {{ include('form/core/customers_collection.html.twig') }}
    </div>
    {{ include('form/core/customers_collection_action.html.twig') }}
{% endblock %}
{% block _booking_appbundle_metadata_product_customers_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('_bab_book_products_e_customers_e_widget') }) %}
    {% endif %}
    {{ form_errors(form) }}
    <label class="control-label" for="{{ id }}">{{ label }}</label>
    <div {{ block('widget_container_attributes') }}>
        {{ include('form/core/customers_collection.html.twig') }}
    </div>
    {{ include('form/core/customers_collection_action.html.twig') }}
{% endblock %}


{% block _bab_book_products_e_customers_e_widget %}
    {% spaceless %}
        <div id="{{ prototype.vars.id }}" class="customers-container col-md-12 col-sm-12 col-lg-12 col-xs-12" data-content="{{ prototype.vars.id }}">
            {% for row in prototype %}
                {{ form_widget(row) }}
            {% endfor %}
            <a id="collection_action_remove" class="btn btn-danger" data-related="{{ prototype.vars.id }}">Remove</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _booking_appbundle_client_contacts_entry_row %}
    {% spaceless %}
        <div id="{{ form.vars.id }}" class="col-md-12 col-sm-12 col-lg-12 col-xs-12" data-content="{{ form.vars.id }}"
             style="margin: 10px 0; padding: 0">
            {% for row in form %}
                {{ form_widget(row) }}
            {% endfor %}
            <a id="form_collection_remove" class="btn btn-danger" data-related="{{ form.vars.id }}">Remove</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _booking_appbundle_airport_codes_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {{ form_row(widget) }}
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block _booking_appbundle_car_price_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {{ form_row(widget, {'label': false}) }}
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block _booking_appbundle_product_clients_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {% set class = (widget.vars.label_attr.class is defined) ? widget.vars.label_attr.class : "" %}
            <label class="control-label"for="{{ widget.vars.id }}" class="{{ class }}">
                <input type="checkbox" {{ block('widget_attributes') }}
                        {% if widget.vars.value is defined %} value="{{ widget.vars.value }}"{% endif %}
                        {% if widget.vars.checked %} checked="checked"{% endif %} />
                {{ widget.vars.label|trans({}, translation_domain) }}
            </label>
            <br>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block checkbox_label %}
    {% spaceless %}
        {% set class = (label_attr.class is defined) ? label_attr.class : "" %}
        <label class="control-label"for="{{ id }}" class="{{ class }}">{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock checkbox_label %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}
                {% if value is defined %} value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock %}


{% block _booking_appbundle_book_products_entry_product_type_widget %}
    {{ include('form/core/product_type.html.twig') }}
{% endblock %}
{% block _booking_appbundle_metadata_product_product_type_widget %}
    {{ include('form/core/product_type.html.twig') }}
{% endblock %}




{% block _booking_appbundle_book_products_entry_airport_flight_number_widget %}
    {{ block('flight_widget') }}
{% endblock %}
{% block _booking_appbundle_book_products_entry_airport_flight_transit_number_widget %}
    {{ block('flight_widget') }}
{% endblock %}
{% block flight_widget %}
    {{ form_widget(form, {'attr': {
        'class': 'col-md-10 col-sm-10 col-lg-10 col-xs-8',
        'style': 'width: 70%; margin-right:10px'
    }}) }}
    <a id="{{ id }}_action_load" class="btn btn-success" data-target="{{ id }}">Load</a>
    <script>
        $(document).ready(function () {
            if (typeof window.apiChecker !== 'undefined')
                window.apiChecker.addField("#{{ id }}", "#{{ form.parent.children.id.vars.id }}", "#{{ id }}_action_load");
        });
    </script>
{% endblock %}