
{% block _booking_appbundle_book_products_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('_booking_appbundle_book_products_entry_row') }) %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            {% for widget in form.children %}
                {{ form_row(widget) }}
            {% endfor %}
        </div>

    {% endspaceless %}

    <script>
        $( document ).ready(function() {
            $("#form_collection_add_product").data("target", "{{ id }}");
            $(document).on('click', '#form_collection_add_product', function(event) {
                var collectionHolder = $('#' + $(this).data('target'));

                if (!collectionHolder.attr('data-counter')) {
                    collectionHolder.attr('data-counter', collectionHolder.children().length);
                }

                var prototype = collectionHolder.attr('data-prototype');
                var form = prototype.replace(/__name__/g, collectionHolder.attr('data-counter'));

                collectionHolder.attr('data-counter', Number(collectionHolder.attr('data-counter')) + 1);
                collectionHolder.append(form);

                event && event.preventDefault();
            });

            $(document).on('click', '#form_collection_remove[data-related]', function(event) {
                var name = $(this).attr('data-related');
                $('*[data-content="'+name+'"]').remove();

                event && event.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block _booking_appbundle_book_products_entry_row %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set form = prototype %}
        {% endif %}
        <div id="{{ form.vars.id }}" data-content="{{ form.vars.id }}" class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ form_label(form, 'Product #' ~ (form.vars.name)) }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button id="form_collection_remove" data-related="{{ form.vars.id }}" class="btn btn-danger">Remove</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for row in form %}
                        {{ form_widget(row) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}


{% block _booking_appbundle_client_contacts_entry_row %}
    {% spaceless %}
        <div id="{{ form.vars.id }}" class="col-md-12 col-sm-12 col-lg-12 col-xs-12" data-content="{{ form.vars.id }}"
             style="margin: 10px 0; padding: 0">
            {% for row in form %}
                {{ form_widget(row) }}
            {% endfor %}
            <a id="form_collection_remove" class="btn btn-danger" data-related="{{ form.vars.id }}">Remove</a>
        </div>
    {% endspaceless %}
{% endblock _booking_appbundle_client_contacts_entry_row %}

{% block _booking_appbundle_airport_codes_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {{ form_row(widget) }}
        {% endfor %}
    {% endspaceless %}
{% endblock _booking_appbundle_airport_codes_widget %}

{% block _booking_appbundle_car_price_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {{ form_row(widget, {'label': false}) }}
        {% endfor %}
    {% endspaceless %}
{% endblock _booking_appbundle_car_price_widget %}

{% block _booking_appbundle_product_clients_widget %}
    {% spaceless %}
        {% for widget in form.children %}
            {% set class = (widget.vars.label_attr.class is defined) ? widget.vars.label_attr.class : "" %}
            <label for="{{ widget.vars.id }}" class="{{ class }}">
                <input type="checkbox" {{ block('widget_attributes') }}
                        {% if widget.vars.value is defined %} value="{{ widget.vars.value }}"{% endif %}
                        {% if widget.vars.checked %} checked="checked"{% endif %} />
                {{ widget.vars.label|trans({}, translation_domain) }}
            </label>
            <br>
        {% endfor %}
    {% endspaceless %}
{% endblock _booking_appbundle_product_clients_widget %}

{% block checkbox_label %}
    {% spaceless %}
        {% set class = (label_attr.class is defined) ? label_attr.class : "" %}
        <label for="{{ id }}" class="{{ class }}">{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock checkbox_label %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}
                {% if value is defined %} value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block _booking_appbundle_book_products_entry_product_type_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <script>
            $( document ).ready(function () {

                var parentId = "{{ form.parent.vars.id }}";
                function loadForm(value) {
                    $("#{{ id }} option").each(function () {
                        var currentId = "#" + parentId + "_"+ $(this).attr("s-type");
                        if (value === $(this).attr("s-type"))
                            $(currentId).removeClass("disabled hidden");
                        else
                            $(currentId).addClass("disabled hidden");
                    });
                }

                $("#{{ id }}").change(function () {
                    loadForm($(this).find(":selected").attr("s-type"));
                });
                loadForm($("#{{ id }}").find(":selected").attr("s-type"));
            });
        </script>
    {% endspaceless %}
{% endblock _booking_appbundle_book_products_entry_product_type_widget %}


{% block _booking_appbundle_book_products_entry_airport_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <script>
            $( document ).ready(function () {
                if (typeof window.apiChecker !== 'undefined') {
                    window.apiChecker.addField("#{{ form.children.flight.children.number.vars.id }}", "#{{ form.children.flight.children.id.vars.id }}");
                    window.apiChecker.addField("#{{ form.children.flight_transit.children.number.vars.id }}", "#{{ form.children.flight_transit.children.id.vars.id }}");
                }
            });
        </script>
    {% endspaceless %}
{% endblock _booking_appbundle_book_products_entry_airport_widget %}
