{% extends 'booking/layout.html.twig' %}

{% block title %}{{parent()}} • Show{% endblock %}

{% block stylesheets %}
{{parent()}}
<style media="screen">
#content::before {
    background: url("{{ asset('bundles/booking/img/24725242_l.jpg') }}") no-repeat 75% top;
    background-size: cover;
}
</style>
{% endblock %}


{% block headscripts %}
{{parent()}}
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <h3 class="card-header">{{ 'admin.driver_add.title'|trans }}</h3>
        <div class="card-block">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    {{ form_label(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    {{ form_label(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    {{ form_label(form.phone) }}
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>
            </div>
            <button type="submit" name="button" class="btn btn-primary">{{ 'admin.driver_add.form.go'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">{{ 'admin.user.title'|trans }}</h3>
        <div class="card-block">
            {% if w_users is empty %}
            No pending registration
            {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden-xs">{{ 'agent.username'|trans }}</th>
                        <th>{{ 'agent.fname'|trans }}</th>
                        <th>{{ 'agent.laname'|trans }}</th>
                        <th>{{ 'agent.email'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in w_users %}
                    <tr>
                        <td class="hidden-xs">{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="{{ path('admin.answer.user', {'uid':user.uid, 'state':'ACC'})}}" type="button" class="btn btn-success">{{ 'book.state.wait.admin.acc'|trans }}</a>
                            <a href="{{ path('admin.answer.user', {'uid':user.uid, 'state':'REJ'})}}" type="button" class="btn btn-danger">{{ 'book.state.wait.admin.ref'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
