{% extends 'booking/layout.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/booking/css/manage.css') }}">
<style media="screen">
#content::before {
    background: url("{{ asset('bundles/booking/img/30419147_l.jpg') }}") no-repeat 75% top;
    background-size: cover;
}
</style>
{% endblock %}


{% block headscripts %}
{{parent()}}
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <h3 class="card-header">{{ 'manage.now.title'|trans }}</h3>
        <div class="card-block">
            <a href="{{ path('booknow') }}" class="btn btn-primary">{{ 'manage.now.go'|trans }}</a>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">{{ 'manage.find.title'|trans }}</h3>
        <div class="card-block">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form.booknb) }}
            <button type="submit" name="button" class="btn btn-primary">{{ 'manage.find.form.go'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">{{ 'manage.last.title'|trans }}</h3>
        <div class="card-block">
            {% if books is empty %}
            No Book
            {% else %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden-xs">{{ 'manage.last.booknumber'|trans }}</th>
                        <th>{{ 'manage.last.fdate'|trans }}</th>
                        <th>{{ 'manage.last.customer'|trans }}</th>
                        <th>{{ 'book.form.prod'|trans }}</th>
                        <th>Airlines</th>
                        <th>{{ 'book.state.title'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td class="hidden-xs">{{book.id}}</td>
                        <td>{{book.date|date("d M Y")}}</td>
                        <td>{{book.customers[0].title}} {{book.customers[0].firstname}} (+{{book.totalcus - 1}})</td>
                        <td>{{book.product.name}} {{book.flight.destinationwithtime}}</td>
                        <td><span class="back-cmpcolor-c" style="background-color:{{book.color}}">{{book.user.compagny ? book.user.compagny.name : 'Admin' }}</span></td>
                        <td>{% if book.state == 'WAITING' %}
                            <span class="label label-default">{{ 'book.state.wait.title'|trans }}</span>
                            {% elseif book.state == 'ACCEPTED' %}
                            <span class="label label-success">{{ 'book.state.acc.title'|trans }}</span>
                            {% elseif book.state == 'REFUSED' %}
                            <span class="label label-danger">{{ 'book.state.ref.title'|trans }}</span>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('show', {'id': book.id}) }}" class="btn btn-default">{{ 'manage.last.show'|trans }}</a></td>
                        <td><a href="{{ path('book.edit', {'id': book.id}) }}" class="btn btn-default">{{ 'manage.last.edit'|trans }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
