{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Expert Webooking{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/booking/css/datepicker.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/booking/css/shared.css') }}">
{% endblock %}


{% block headscripts %}
{{parent()}}
<script src="{{ asset('bundles/booking/js/datepicker.min.js') }}"></script>
{% endblock %}

{% block body %}

<header class="navbar" role="navigation" id="head">
    <a href="{{ path('homepage') }}" class="navbar-brand sec">
        <span class="text">UNIC WEBOOKING</span>
    </a>
    <span class="navbar-brand sec hidden-xs" id="info">
    <style media="screen">
    .logo {
        background-image: url({{ asset('bundles/booking/img/QatarAirwaysBrand.svg') }});
    }
    </style>
    <a href="{{ path('homepage') }}" class="navbar-brand sec text" id="logo">
        <span class="text">{{ 'header.title'|trans }}</span>
            <span class="logo"></span>
    </a>
</span>
</header>

<main id="content">
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-lg-12" id="head">
            <h5>
                {{ app.user.username }} • {{ app.user.email }}
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                <a class="marg label label-info" href="{{ path('admin') }}">
                    Admin
                </a>
                {% endif %}
                <a class="marg label label-info" href="{{ path('homepage') }}">
                    Main
                </a>
            </h5>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</main>

{# {% include 'default/footer.html.twig' %} #}
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
