{% extends 'booking/layout.html.twig' %}

{% block title %}{{parent()}} • Show{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/booking/css/book.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/booking/css/manage.css') }}">
<style media="screen">
#content::before {
    background: url("{{ asset('bundles/booking/img/24725242_l.jpg') }}") no-repeat 75% top;
    background-size: cover;
}
</style>
{% endblock %}


{% block headscripts %}
{{parent()}}
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    {% if book is defined %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="card">
        <h3 class="card-header">
            {{ 'show.admin.title'|trans }}
            {% if book.state == 'WAITING' %}
            <span class="label label-default">{{ 'book.state.wait.title'|trans }}</span>
            {% elseif book.state == 'ACCEPTED' %}
            <span class="label label-success">{{ 'book.state.acc.title'|trans }}</span>
            {% elseif book.state == 'REFUSED' %}
            <span class="label label-danger">{{ 'book.state.ref.title'|trans }}</span>
            {% endif %}
        </h3>
        <div class="card-block">
            {% if book.state == 'WAITING' %}
            <div class="action">
                <h5>{{ 'book.state.wait.admin.log'|trans }}</h5>
                <a href="{{ path('admin.answer.book', {'id':book.id, 'state':'ACC'})}}" type="button" class="btn btn-success">{{ 'book.state.wait.admin.acc'|trans }}</a>
                <a href="{{ path('admin.answer.book', {'id':book.id, 'state':'REJ'})}}" type="button" class="btn btn-danger">{{ 'book.state.wait.admin.ref'|trans }}</a>
            </div>
            {% endif %}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    {{ form_label(form.driver) }}
                    {{ form_errors(form.driver) }}
                    {{ form_widget(form.driver) }}
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    {{ form_label(form.greeter) }}
                    {{ form_errors(form.greeter) }}
                    {{ form_widget(form.greeter) }}
                </div>
            </div>
            <button type="submit" name="button" class="btn btn-primary">{{ 'show.form.go'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    {% else %}
    {% if book.state == 'WAITING' %}
    <div class="alert alert-info"><strong>{{ 'book.state.wait.title'|trans }}</strong> {{ 'book.state.wait.content'|trans }}</div>
    {% elseif book.state == 'ACCEPTED' %}
    <div class="alert alert-success"><strong>{{ 'book.state.acc.title'|trans }}</strong> {{ 'book.state.acc.content'|trans }}</div>
    {% elseif book.state == 'REFUSED' %}
    <div class="alert alert-danger"><strong>{{ 'book.state.ref.title'|trans }}</strong> {{ 'book.state.ref.content'|trans }}</div>
    {% endif %}
    {% endif %}
    <div class="card">
        <h3 class="card-header">Agent</h3>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-6">{{ 'agent.username'|trans }}</td>
                        <td class="value">{{book.user.username}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'agent.fname'|trans }}</td>
                        <td class="value"><span id="fdate">{{book.agentfirstname}}</span></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'agent.lname'|trans }}</td>
                        <td class="value"><span id="fdate">{{book.agentlastname}}</span></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'agent.email'|trans }}</td>
                        <td class="value"><span id="fdate">{{book.agentemail}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">Service</h3>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-6">{{ 'manage.find.form.number'|trans }}</td>
                        <td class="value">{{book.id}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Type</td>
                        <td class="value">{% if book.service == 'DEP' %}{{ 'book.form.dep'|trans }}{% else %}{{ 'book.form.arr'|trans }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.date'|trans }}</td>
                        <td class="value"><span id="fdate">{{book.date|date("d M Y")}}</span></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.prod'|trans }}</td>
                        <td class="value"><span id="products">{{book.product.name}}</span> {{book.product.price}}€</td>
                    </tr>
                    {% if not book.nameboard is empty %}
                    <tr>
                        <td class="col-md-6">{{ 'book.form.nameboard'|trans }}</td>
                        <td class="value">{{book.nameboard}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="col-md-6">{{ 'price'|trans }}</td>
                        <td class="value">{{book.price}} €</td>
                    </tr>
                    {% if book.product.code == "FAM" %}
                    <tr>
                        <td class="col-md-6">{{ 'book.form.timepu'|trans }}</td>
                        <td class="value">{{book.timepu|date("H:m")}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.addpu'|trans }}</td>
                        <td class="value">{{book.addresspu}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.adddo'|trans }}</td>
                        <td class="value">{{book.addressdo}}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">{{ 'book.form.cust'|trans }}</h3>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-6">{{ 'total'|trans }}</td>
                        <td class="value">{{book.adultcus + book.childcus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.adult'|trans }}</td>
                        <td class="value">{{book.adultcus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.chilu2y'|trans }}</td>
                        <td class="value">{{book.childcus}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.form.bags'|trans }}</td>
                        <td class="value">{{book.bags}} ( {{book.bags * 10}} € )</td>
                    </tr>
                </tbody>
            </table>
            <h5>{{ 'cust.inf'|trans }} ({{ book.customers|length}})</h5>
            <style media="screen">
            .table {
                margin: 0
            }
            .customer_row {
                padding: 15px;
            }
            .customer_row > * {
                margin: 0 10px
            }
            .customer_row .customer_fname {
                text-transform: uppercase;
                font-weight: 700
            }
            </style>
            {% for customer in book.customers %}

            <div class="customer_row">
                <span class="customer_title">{{customer.title}}</span>
                <span class="customer_fname">{{customer.firstname}}</span>
                <span class="customer_lname">{{customer.lastname}}</span>
                <span class="customer_phone">{{customer.phone}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">{{ 'book.form.flight'|trans }}</h3>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-6">{{ 'book.flight.number'|trans }}</td>
                        <td class="value">{{book.flight.number}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.flight.deptime'|trans }}</td>
                        <td class="value">{{book.flight.deptime|date('H:i')}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.flight.arrtime'|trans }}</td>
                        <td class="value">{{book.flight.arrtime|date('H:i')}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'book.flight.dest'|trans }}</td>
                        <td class="value">
                            {% if book.flight.type == 'ARR' %}DOH → CDG{% else %}CDG → COH{% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if not book.driver is empty %}
    <div class="card">
        <h3 class="card-header">Greeter</h3>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-6">{{ 'admin.driver_add.form.fname'|trans }}</td>
                        <td class="value">{{book.driver.firstname}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'admin.driver_add.form.lname'|trans }}</td>
                        <td class="value"><span id="fdate">{{book.driver.lastname}}</span></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">{{ 'admin.driver_add.form.phone'|trans }}</td>
                        <td class="value"><span id="products">{{book.driver.phone}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% else %}
    <div class="card">
        <h3 class="card-header">{{ 'show.notfound.title'|trans }}</h3>
        <div class="card-block">
            <h5>{{ 'show.notfound.desc'|trans({'%id%': book_id_finded})}}</h5>
            <p>{{ 'show.notfound.content'|trans({'%id%': book_id_finded, '%ls%': '<a href="' ~ path('homepage') ~ '">', '%le%':'</a>'}) |raw }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
