<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style
    tyle> body {  font-family: "Calibri","Slate Pro",sans-serif,"sans-serif"; color:#262626 }</style>
</head>
<body lang="fr-FR">
    <div>
        <table cellpadding="0" width="680" border="0" style="font-family: 'Slate Pro'; width:18cm;">
            <tbody>
                <tr style="height: 48.2pt;"><td style="padding: 0cm; height: 48.2pt;">
                    <table class="MsoNormalTable" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                        <tbody>
                            <tr>
                                <td valign="bottom" style="padding: 0cm;">
                                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                                        <b>
                                            <i>
                                                <span style="font-size: 14pt; font-family: Arial, sans-serif; color: rgb(22, 75, 145);">UNIC Webooking</span>
                                            </i>
                                        </b>
                                        <b>
                                            <span style="font-size: 14pt; font-family: Arial, sans-serif; color: rgb(22, 75, 145);"></span>
                                        </b>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 0cm;">
                                    <p align="right" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: right;">
                                        <b style="font-size: 12pt;">
                                            <span style="font-size: 9pt; font-family: Arial, sans-serif; color: rgb(22, 75, 145);"><br>
                                            </span>
                                        </b>
                                    </p>
                                    <p align="right" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: right;">
                                        <b style="font-size: 12pt;">
                                            <span style="font-size: 9pt; font-family: Arial, sans-serif; color: rgb(22, 75, 145);">24/7. &#43;33 184 194 847</span>
                                        </b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td rowspan="3" valign="top" style="padding: 0cm; height: 48.2pt;">
                    <p class="MsoNormal" align="right" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: right;">
                        <a href="{{ absolute_url(path('homepage')) }}" target="_BLANK" style="color: purple;">
                            <span style="border: 1pt none windowtext; padding: 0cm; text-decoration:none;">
                                <img id="_x0000_i1034" src="{{ absolute_url(asset('bundles/booking/img/logo.png')) }}" alt="interline logo" height="200" width="200" border="0">
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0cm;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">AL MAHA SERVICES&nbsp;</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Qatar Airlines<br>Address<br>Doha - Qatar</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Booking agent : {{user.email}} {{user.username}}</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                </td>
            </tr>
            <tr style="height:22.5pt;"><td valign="bottom" style="padding: 0cm; height: 22.5pt;"><p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family:'Times New Roman', serif; margin-bottom: 0.0001pt;"><b><i><span style="font-size: 14pt; font-family: Arial, sans-serif; color: rgb(22, 75, 145);">Confirmation Pack {{book.product.name}}</span></i></b><span style="font-size: 7pt; color:rgb(22, 75, 145);"></span></p></td></tr>
        </tbody>
    </table><p style="margin: 0cm 0cm 12pt; font-family: 'Times New Roman', serif; color: rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span></p><p style="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color: rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">Dear All,</span></p><p style="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color:rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span></p><p style="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color: rgb(0, 0, 0);"><span lang="EN"style="font-size: 9pt; font-family: Arial, sans-serif;">we here with confirm your reservation with greeter and driver details:</span></p><p style="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color:rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span></p><table cellspacing="0" cellpadding="0" width="673" border="0" style="font-family: 'Slate Pro';">
        <tbody>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border: 1.5pt solid white; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Booking number</span>
                    </p>
                </td>
                <td valign="top" style="border-style: solid solid solid none; border-top-color: white; border-right-color: white; border-bottom-color: white; border-top-width: 1.5pt; border-right-width: 1.5pt; border-bottom-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.id}}</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Date</span>
                    </p>
                </td>
                <td valign="top" style="border-style: nonesolid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt;font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <b>
                            <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.date}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width:4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Passenger</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Flight</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Arival</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Departure</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Destination</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                </td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.customers[0].firstname}} {{book.customers[0].lastname}}</span>
                    </p>
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.number}}</span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.arrtime|date("H:m")}}</span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.deptime|date("H:m")}}</span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{% if book.flight.type == 'ARR' %}DOH → CDG{% else %}CDG → COH{% endif %}</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style:none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Vehicle Type</span>
                    </p>
                </td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Luxury Sedan</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt;border-bottom-width: 1.5pt; border-left-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                    </p>
                </td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                    <p class="MsoNormal" style="margin: 0cm0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color:white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;"><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;&nbsp;&nbsp;Pick Up</span></p>
                </td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;"><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family:'Times New Roman', serif;"><b>
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.addresspu}}</span></b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding:0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;&nbsp;&nbsp;Drop Off</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <b>
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.addressdo}}</span>
                    </b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white;border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding:0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">
                        <font color="#0095eb">Greeter</font>
                    </span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">
                        <font color="#0095eb">Greeter Mobile</font>
                    </span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Chauffeur</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: #0095EB;">bla<br></span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: #0095EB;">bla<br></span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Michael Keller</span>
                </p>
            </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'TimesNew Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Chauffeur Mobile</span></p></td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">&#43;49 (172) 3042700</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Registration No.</span></p></td>
                <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">B-IL 418</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">Remarks:</span>
                    </p>
                </td>
                <td valign="top" style="border-style: none solid solidnone; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                    <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                    </p>
                    <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">-</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table><pstyle="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color: rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span></p><p style="margin: 0cm 0cm 0.0001pt; font-family: 'Times New Roman', serif; color: rgb(0, 0, 0);"><span lang="EN" style="font-size: 9pt; font-family: Arial, sans-serif;">We are pleased to arrange this journey for you.<br>Please feel free to contact us incase of any questions.</span></p>
</div>
</body>
</html>
