
<style media="screen">
#content table {
    min-width: 300px;
    padding: 15px;
}
#content table td {
    min-width: 150px;
}
#content table .bold {
    font-weight: bold;
}
#content table .marg-top {
    margin-top: 10px;
}
</style>

<table>
    <tr>
        <td><span class="info">Booking number</span></td>
        <td><span class="info bold">{{book.id}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Date</span></td>
        <td><span class="info bold">{{book.date|date("d M Y")}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Passenger</span></td>
        <td><span class="info">{{book.customers[0].firstname}}</b> {{book.customers[0].lastname}} ({{book.customers[0].phone}})</span></td>
    </tr>
    {% if not book.nameboard is empty %}
    <tr>
        <td><span class="info">Nameboard</span></td>
        <td><span class="info">{{book.nameboard}}</span></td>
    </tr>
    {% endif %}
</table>
<table>
    <tr>
        <td><span class="info">Flight</span></td>
        <td><span class="info">{{book.flight.number}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Arrival</span></td>
        <td><span class="info">{{book.flight.arrtime|date("H:m")}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Departure</span></td>
        <td><span class="info">{{book.flight.deptime|date("H:m")}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Destination</span></td>
        <td><span class="info">{{book.flight.destination}}</span></td>
    </tr>
</table>

{% if book.product.code == 'FAM' %}
<table>
    <tr>
        <td><span class="info">Vehicle Type</span></td>
        <td><span class="info">Luxury Sedan</span></td>
    </tr>
    <tr>
        <td><span class="info">Pick Up Time</span></td>
        <td><span class="info">{{book.timepu|date('H:m')}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Pick Up</span></td>
        <td><span class="info">{{book.addresspu}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Drop Off</span></td>
        <td><span class="info">{{book.addressdo}}</span></td>
    </tr>
    {% if not book.driver is empty %}
    <tr>
        <td><span class="info">Driver</span></td>
        <td><span class="info">{{book.driver.firstname}}</b> {{book.driver.lastname}}</span></td>
    </tr>
    <tr>
        <td><span class="info">Driver Mobile</span></td>
        <td><span class="info">{{book.driver.firstname}}</b> {{book.driver.phone}}</span></td>
    </tr>
    {% endif %}
</table>
{% endif %}

<table>
    {% for customer in book.customers %}
    <tr>
        <td><span class="info">{{customer.title}} {{customer.firstname}} {{customer.lastname}} {{customer.phone}}</span></td>
    </tr>
    {% endfor %}
</table>

{% if not book.note is empty %}
<table>
    <tr>
        <td><span class="info">Remarks</span></td>
        <td><span class="info">{{book.note}}</span></td>
    </tr>
</table>
{% endif %}
