<table cellspacing="0" cellpadding="0" width="673" border="0" style="font-family: 'Slate Pro';">
    <tbody>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border: 1.5pt solid white; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Booking number</span>
                </p>
            </td>
            <td valign="top" style="border-style: solid solid solid none; border-top-color: white; border-right-color: white; border-bottom-color: white; border-top-width: 1.5pt; border-right-width: 1.5pt; border-bottom-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.id}}</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Date</span>
                </p>
            </td>
            <td valign="top" style="border-style: nonesolid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt;font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <b>
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.date|date("d M Y")}}</span>
                    </b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width:4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Passenger</span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Flight</span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Arival</span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Departure</span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Destination</span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">
                        <b>{{book.customers[0].firstname}}</b> {{book.customers[0].lastname}} ({{book.customers[0].phone}})
                    </span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.number}}</span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.arrtime|date("H:m")}}</span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.flight.deptime|date("H:m")}}</span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt;font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{% if book.flight.type == 'ARR' %}DOH → CDG{% else %}CDG → COH{% endif %}</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style:none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Vehicle Type</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Luxury Sedan</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt;border-bottom-width: 1.5pt; border-left-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color:white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;"><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;&nbsp;Pick Up Time</span></p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family:'Times New Roman', serif;">
                    <b><span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.timepu|date('H:m')}}</span></b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color:white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;"><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;&nbsp;Pick Up</span></p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family:'Times New Roman', serif;">
                    <b><span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.addresspu}}</span></b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding:0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;&nbsp;Drop Off</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <b>
                        <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.addressdo}}</span>
                    </b>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white;border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; background-color: white; padding: 0.75pt 0.75pt 0.75pt 2.85pt; background-position: initial initial; background-repeat: initial initial;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                </p>
            </td>
        </tr>
        {% if not book.driver is empty %}
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding:0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Greeter</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;"><b>{{book.driver.firstname}}</b> {{book.driver.lastname}}</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'TimesNew Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">Greeter Mobile</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solid none; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif; color: red;">{{book.driver.phone}}</span>
                </p>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td width="151" valign="top" style="width: 4cm; border-style: none solid solid; border-right-color: white; border-bottom-color: white; border-left-color: white; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-left-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">Remarks:</span>
                </p>
            </td>
            <td valign="top" style="border-style: none solid solidnone; border-bottom-color: white; border-bottom-width: 1.5pt; border-right-color: white; border-right-width: 1.5pt; padding: 0.75pt 0.75pt 0.75pt 2.85pt;">
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;"><br></span>
                </p>
                <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif;">
                    <span style="font-size: 9pt; font-family: Arial, sans-serif;">{{book.note}}</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
