{{ form_errors(form) }}
<div class="form-group">
    <div class="col-md-3">{{ form_widget(form.date) }}</div>
    <div class="col-md-3">{{ form_widget(form.product_type) }}</div>
    <div class="col-md-3">{{ form_row(form.baggages) }}</div>
    <div class="col-md-3">{{ form_row(form.location) }}</div>
</div>
<div class="form-group">
    <div class="col-md-8">{{ form_widget(form.note) }}</div>
</div>
<div class="form-group">
    <div>{{ form_widget(form.airport) }}</div>
    <div>{{ form_widget(form.limousine) }}</div>
    <div>{{ form_widget(form.train) }}</div>
</div>
<div class="form-group">
    <div>{{ form_widget(form.customers) }}</div>
</div>