<div class="card">
    <h3 class="card-header">Agent</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-6">{{ 'agent.username'|trans }}</td>
                    <td class="value">{{book.user.username}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'agent.fname'|trans }}</td>
                    <td class="value"><span id="fdate">{{book.agentfirstname}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'agent.lname'|trans }}</td>
                    <td class="value"><span id="fdate">{{book.agentlastname}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'agent.email'|trans }}</td>
                    <td class="value"><span id="fdate">{{book.agentemail}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h3 class="card-header">Service</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-6">{{ 'manage.find.form.number'|trans }}</td>
                    <td class="value">{{book.id}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">Type</td>
                    <td class="value">{% if book.service == 'DEP' %}{{ 'book.form.dep'|trans }}{% else %}{{ 'book.form.arr'|trans }}{% endif %}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.date'|trans }}</td>
                    <td class="value"><span id="fdate">{{book.date|date("d M Y")}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.prod'|trans }}</td>
                    <td class="value"><span id="products">{{book.product.name}}</span> {{book.product.price}}€</td>
                </tr>
                {% if not book.nameboard is empty %}
                <tr>
                    <td class="col-md-6">{{ 'book.form.nameboard'|trans }}</td>
                    <td class="value">{{book.nameboard}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="col-md-6">{{ 'price'|trans }}</td>
                    <td class="value">{{book.price}} €</td>
                </tr>
                {% if book.product.code == "FAM" %}
                <tr>
                    <td class="col-md-6">{{ 'book.form.timepu'|trans }}</td>
                    <td class="value">{{book.timepu|date("H:m")}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.addpu'|trans }}</td>
                    <td class="value">{{book.addresspu}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.adddo'|trans }}</td>
                    <td class="value">{{book.addressdo}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h3 class="card-header">{{ 'book.form.cust'|trans }}</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-6">{{ 'total'|trans }}</td>
                    <td class="value">{{book.adultcus + book.childcus}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.adult'|trans }}</td>
                    <td class="value">{{book.adultcus}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.chilu2y'|trans }}</td>
                    <td class="value">{{book.childcus}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.bags'|trans }}</td>
                    <td class="value">{{book.bags}} ( {{book.bags * 10}} € )</td>
                </tr>
            </tbody>
        </table>
        <h5>{{ 'cust.inf'|trans }} ({{ book.customers|length}})</h5>
        <style media="screen">
        .table {
            margin: 0
        }
        .customer_row {
            padding: 15px;
        }
        .customer_row > * {
            margin: 0 10px
        }
        .customer_row .customer_fname {
            text-transform: uppercase;
            font-weight: 700
        }
        </style>
        {% for customer in book.customers %}

        <div class="customer_row">
            <span class="customer_title">{{customer.title}}</span>
            <span class="customer_fname">{{customer.firstname}}</span>
            <span class="customer_lname">{{customer.lastname}}</span>
            <span class="customer_phone">{{customer.phone}}</span>
        </div>
        {% endfor %}
    </div>
</div>
<div class="card">
    <h3 class="card-header">{{ 'book.form.flight'|trans }}</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-6">{{ 'book.flight.number'|trans }}</td>
                    <td class="value">{{book.flight.number}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.flight.deptime'|trans }}</td>
                    <td class="value">{{book.flight.deptime|date('H:i')}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.flight.arrtime'|trans }}</td>
                    <td class="value">{{book.flight.arrtime|date('H:i')}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.flight.dest'|trans }}</td>
                    <td class="value">
                        {% if book.flight.type == 'ARR' %}DOH → CDG{% else %}CDG → COH{% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if not book.driver is empty %}
<div class="card">
    <h3 class="card-header">Greeter</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-6">{{ 'admin.driver_add.form.fname'|trans }}</td>
                    <td class="value">{{book.driver.firstname}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'admin.driver_add.form.lname'|trans }}</td>
                    <td class="value"><span id="fdate">{{book.driver.lastname}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'admin.driver_add.form.phone'|trans }}</td>
                    <td class="value"><span id="products">{{book.driver.phone}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
