<style media="screen">
#edited {
    background-color: #5cb85c;

    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.cmpcolor-c {
    color: {{book.color}} !important
}
.back-cmpcolor-c {
    background-color: {{book.color}} !important;
}
.border-bot-cmpcolor-c {
    border-bottom-color: {{book.color}} !important
}
</style>
{% if activeSubbooks is defined and not activeSubbooks is empty %}
<div class="card">
    <h3 class="card-header">History</h3>
    <div class="card-block">
        <table class="table tab-td-cel-5">
            <thead>
                <th>ID</th>
                <th>Number</th>
                <th>Date</th>
                <th>Charged</th>
                <th>State</th>
            </thead>
            <tbody>
                {% for sub in activeSubbooks %}
                <tr id="{{ sub.number }}">
                    <td>{{ sub.id }}</td>
                    <td>{{ sub.number }}</td>
                    <td>{{ sub.creationdate|date("d M Y") }}</td>
                    <td>{{ sub.charged ? '25€' : '0€' }}</td>
                    <td>
                        {% if sub.state == 'WAITING' %}
                        <span class="label label-default">{{ 'book.state.wait.title'|trans }}</span>
                        {% elseif sub.state == 'ACCEPTED' %}
                        <span class="label label-success">{{ 'book.state.acc.title'|trans }}</span>
                        {% elseif sub.state == 'REFUSED' %}
                        <span class="label label-danger">{{ 'book.state.ref.title'|trans }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="card">
    <h3 class="card-header"><span id="{{ edi ? 'edited' : '' }}">Agent Booking</span></h3>
    <div class="card-block">
        <table class="table tab-td-cel-2">
            <tbody>
                <tr>
                    <td class="col-md-6">Airlines Compagny</td>
                    <td class="value"><span class="back-cmpcolor-c">{{book.user.compagny ? book.user.compagny.name : 'Admin' }}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Booked by</td>
                    <td class="value"><span id="{{ edi and subbook.agentfirstname ? 'edited' : '' }}">{{book.agentfirstname}} {{book.agentlastname}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'agent.email'|trans }}</td>
                    <td class="value"><span id="{{ edi and subbook.agentemail ? 'edited' : '' }}">{{book.agentemail}}</span></td>
                </tr>
                <tr>
                    <td class="tab-sep" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="col-md-6">Booking No.</td>
                    <td class="value"><span>{{book.fullid}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Booking statut</td>
                    {% set bool = state is defined ? state is empty : true %}
                    {% if bool %}
                    <td class="value state-{{book.fullstate}}"><span>{{book.fullstate}}</span></td>
                    {% else %}
                    <td class="value {{state.code}}">{{state.key}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="col-md-6">Booking Creation Date</td>
                    <td class="value"><span>{{book.creationdate|date('d-M-y')}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Total amount</td>
                    <td class="value"><span>{{book.fullprice}}</span></td>
                </tr>
                <tr>
                    <td class="tab-sep" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="col-md-6">Airport Location</td>
                    <td class="value"><span>{{book.flight.mainairport.codes.code}} - {{book.flight.mainairport.name}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Type</td>
                    <td class="value"><span class="back-cmpcolor-c">{{book.fullServiceName | trans}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Product</td>
                    <td class="value"><span>{{book.product.description}}</span></td>
                </tr>
                {% for opt in book.options %}
                <tr>
                    <td class="col-md-6">Option#{{ loop.index }}</td>
                    <td class="value"><span>{{opt}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h3 class="card-header"><span id="{{ edi and subbook.flight ? 'edited' : '' }}">Flight details</span></h3>
    <div class="card-block">
        <table class="table tab-td-cel-2">
            <tbody>
                <tr>
                    <td class="col-md-6">Flight No.</td>
                    <td class="value"><span id="{{ edi and subbook.service ? 'edited' : '' }}">{{book.flight.codes.code}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Flight Date</td>
                    <td class="value"><span class="back-cmpcolor-c" id="{{ edi and subbook.date ? 'edited' : '' }}">{{book.date|date("d-M-y")}}</span></td>
                </tr>
                <tr>
                    <td class="col-md-6">Departure Time</td>
                    <td class="value">{{book.flight.deptime|date('H:i')}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">Arrival Time</td>
                    <td class="value">{{book.flight.arrtime|date('H:i')}}</td>
                </tr>
                {% if book.service == "TRA" %}
                    <tr>
                        <td class="col-md-6">Transit Departure Time</td>
                        <td class="value">{{book.flighttransit.deptime|date('H:i')}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-6">Transit Arrival Time</td>
                        <td class="value">{{book.flighttransit.arrtime|date('H:i')}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="col-md-6">Origine/Destination</td>
                    <td class="value">
                        {{book.flight.destination}}
                        {% if book.service == "TRA" %}
                            -- {{book.flighttransit.destination}}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h3 class="card-header">
        <span id="{{ edi and (subbook.adultcus or subbook.childcus or subbook.bags)  ? 'edited' : '' }}">
            Customers Informations
        </span>
    </h3>
    <div class="card-block">
        <table class="table tab-td-cel-2">
            <tbody>
                <tr>
                    <td class="col-md-6">Total customers</td>
                    <td class="value">{{book.totalcus}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.adult'|trans }}</td>
                    <td class="value">{{book.adultcus}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">{{ 'book.form.chilu2y'|trans }}</td>
                    <td class="value">{{book.childcus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <h3 class="card-header">
        <span id="{{ edi and (subbook.adultcus or subbook.childcus or subbook.bags)  ? 'edited' : '' }}">
            Passengers details
        </span>
    </h3>
    <div class="card-block">
        <table class="table tab-td-cel-5">
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Name</td>
                    <td>Cabin</td>
                    <td>Gender</td>
                    <td>Mobile</td>
                </tr>
                {% for customer in book.customers %}
                <tr class="back-cmpcolor-c">
                    <td>{{customer.title}}</td>
                    <td>{{customer.firstname}} {{customer.lastname}}</td>
                    <td>{{customer.cabin}}</td>
                    <td>{{customer.sexe}}</td>
                    <td>{{customer.phone}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="tab-sep" colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">Nameboard</td>
                    <td colspan="3">{{book.nameboard}}</td>
                </tr>
                <tr>
                    <td colspan=1>Remarks</td>
                    <td colspan=3>
                        {% if book.product.transport %}
                        PickUp address: {{book.addresspu}}<br>DropOff address: {{book.addressdo}}<br>
                        {% endif %}
                        {{book.note}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <h3 class="card-header">
        <span id="{{ edi and (subbook.adultcus or subbook.childcus or subbook.bags)  ? 'edited' : '' }}">
            Service details
        </span>
    </h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                <tr>
                    <th>Service Name</th>
                    <th>A/D</th>
                    <th>Quantity</th>
                    <th>Price unit.</th>
                    <th>Amount (EUR)</th>
                </tr>
                <tr>
                    <td>{{book.product.name}}</td>
                    <td>{{book.flight.fulltype | trans}}</td>
                    <td>{{book.productquantity}}</td>
                    <td>{{book.product.price|number_format(2, ',', ' ')}}</td>
                    <td>{{(book.fullproductprice)|number_format(2, ',', ' ')}}</td>
                </tr>
                <tr>
                    <td>Porterage</td>
                    <td>1 bag.</td>
                    <td>{{book.bags}}</td>
                    <td>{{book.porterageprice|number_format(2, ',', ' ')}}</td>
                    <td>{{(book.bags * book.porterageprice)|number_format(2, ',', ' ')}}</td>
                </tr>
                <tr>
                    <td>Additional Car</td>
                    <td>1 car.</td>
                    <td>{{book.additionalcar}}</td>
                    <td>90,00</td>
                    <td>{{(book.additionalcar * 90)|number_format(2, ',', ' ')}}</td>
                </tr>
                <tr>
                    <td>Modification</td>
                    <td>1 modification.</td>
                    <td>{{book.chargedsubbooks|length}}</td>
                    <td>25,00</td>
                    <td>{{(book.chargedsubbooks|length * 25)|number_format(2, ',', ' ')}}</td>
                </tr>
                <tr>
                    <td><b>Total Amount</b></td>
                    <td colspan=3>(estimated price)</td>
                    <td><b>EUR {{book.price|number_format(2, ',', ' ')}}</b></td>
                </tr>
                <tr>
                    <td colspan=4>&nbsp;</td>
                    <td>{{book.deviceconvertion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if not book.driver is empty or not book.greeter is empty %}
<div class="card">
    <h3 class="card-header">Driver / Greeter</h3>
    <div class="card-block">
        <table class="table">
            <tbody>
                {% if not book.driver is empty%}
                <tr>
                    <td>Driver</td>
                    <td class="value">{{book.driver.firstname}} {{book.driver.lastname}} {{book.driver.phone}}</td>
                </tr>
                {% endif %}
                {% if not book.greeter is empty%}
                <tr>
                    <td>Greeter</td>
                    <td class="value">{{book.greeter.firstname}} {{book.greeter.lastname}} {{book.greeter.phone}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
