{% extends 'dashboard/layout.html.twig' %}

{% block title %}{{parent()}} • New{% endblock %}

{% block stylesheets %}
    {{parent()}}
  <style media="screen">
    #content::before {
      background: url("{{ asset('bundles/booking/img/login.jpg') }}") no-repeat 75% top;
      background-size: cover;
    }

    #content .login.card {
      margin: 15px auto;
      float: none;
    }
  </style>
{% endblock %}


{% block headscripts %}
    {{parent()}}
{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
  <div class="container">
    <div class="login card col-md-8">
      <h3 class="card-header">Login</h3>
      <div class="card-block">
          {% if error %}
            <div class="alert alert-danger" role="alert">
              <strong>Error</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
          <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required/>
          </div>
          <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" value="{{ last_username }}" required/>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
            </label>
          </div>
          <input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>



        <!-- <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> -->

      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
