{% extends 'booking/manage/layout.html.twig' %}

{% block title %}{{parent()}} • Employee{% endblock %}

{% block contenthead %}
<h3 class="card-header">{{key}} airport</h3>
<div class="card-block">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.code_aita) }}
            {{ form_errors(form.code_aita) }}
            {{ form_widget(form.code_aita) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.code_oaci) }}
            {{ form_errors(form.code_oaci) }}
            {{ form_widget(form.code_oaci) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.compagny) }}
            {{ form_errors(form.compagny) }}
            {{ form_widget(form.compagny) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.selectable) }}
            {{ form_errors(form.selectable) }}
            {{ form_widget(form.selectable) }}
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-primary">{{key}}</button>
    {{ form_end(form) }}
{% endblock %}

{% block contentinterne %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code AITA</th>
            <th>Code OACI</th>
            <th>Airline</th>
            <th>Supported</th>
        </tr>
    </thead>
    <tbody>
        {% for aip in entities %}
        <tr>
            <td>{{aip.name}}</td>
            <td>{{aip.codeAita}}</td>
            <td>{{aip.codeOaci}}</td>
            <td>{{aip.compagny ? aip.compagny.name : 'All'}}</td>
            <td>{{aip.selectable ? 'YES' : 'NO'}}</td>
            <td>
                <a href="{{ path('admin.manage.airports.remove', {'id':aip.id})}}" type="button" class="btn btn-danger">Remove</a>
                <a href="{{ path('admin.manage.airports.edit', {'id':aip.id})}}" type="button" class="btn btn-default">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
