{% extends 'booking/manage/layout.html.twig' %}

{% block title %}{{parent()}} • Employee{% endblock %}

{% block contenthead %}
<h3 class="card-header">Create new compagny</h3>
<div class="card-block">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.code) }}
            {{ form_errors(form.code) }}
            {{ form_widget(form.code) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.maincolor) }}
            {{ form_errors(form.maincolor) }}
            {{ form_widget(form.maincolor) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.secondcolor) }}
            {{ form_errors(form.secondcolor) }}
            {{ form_widget(form.secondcolor) }}
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-primary">{{ 'admin.driver_add.form.go'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block contentinterne %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Main Color</th>
            <th>Second Color</th>
        </tr>
    </thead>
    <tbody>
        {% for cmp in entities %}
        <tr>
            <td>{{cmp.name}}</td>
            <td>{{cmp.code}}</td>
            <td>{{cmp.maincolor}}</td>
            <td>{{cmp.secondcolor}}</td>
            <td>
                <a href="{{ path('admin.manage.compagnys.remove', {'id':cmp.id})}}" type="button" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
