{% extends 'booking/manage/layout.html.twig' %}

{% block title %}{{parent()}} • Employee{% endblock %}




{% block contenthead %}
<h3 class="card-header">{{key}} employee</h3>
<div class="card-block">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.firstname) }}
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.lastname) }}
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.phone) }}
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
    </div>
    <div class="input-group row col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-sm-6 col-lg-4">
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-primary">{{key}}</button>
    {{ form_end(form) }}
{% endblock %}

{% block contentinterne %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'admin.driver_add.form.fname'|trans }}</th>
            <th>{{ 'admin.driver_add.form.lname'|trans }}</th>
            <th>{{ 'admin.driver_add.form.phone'|trans }}</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in entities %}
        <tr>
            <td>{{emp.firstname}}</td>
            <td>{{emp.lastname}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.type}}</td>
            <td>
                <a href="{{ path('admin.manage.employees.remove', {'id':emp.id})}}" type="button" class="btn btn-danger">Remove</a>
                <a href="{{ path('admin.manage.employees.edit', {'id':emp.id})}}" type="button" class="btn btn-default">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
