{% extends 'booking/manage/layout.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block content %}

<div class="no-pad col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <h3 class="card-header">Manage data base</h3>
        <div class="card-block">

            <a class="btn btn-primary" href="{{path('admin.manage.users')}}">Users</a>
            <a class="btn btn-primary" href="{{path('admin.manage.prod')}}">Products</a>
            <a class="btn btn-primary" href="{{path('admin.manage.flights')}}">Flights</a>
            <a class="btn btn-primary" href="{{path('admin.manage.employees')}}">Employees</a>

        </div>
    </div>
</div>

<div class="no-pad col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <h3 class="card-header">{{ 'admin.user.title'|trans }}</h3>
        <div class="card-block">
            {% if w_users is empty %}
            No pending registration
            {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden-xs">{{ 'agent.username'|trans }}</th>
                        <th>{{ 'agent.fname'|trans }}</th>
                        <th>{{ 'agent.laname'|trans }}</th>
                        <th>{{ 'agent.email'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in w_users %}
                    <tr>
                        <td class="hidden-xs">{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="{{ path('admin.answer.user', {'uid':user.uid, 'state':'ACC'})}}" type="button" class="btn btn-success">{{ 'book.state.wait.admin.acc'|trans }}</a>
                            <a href="{{ path('admin.answer.user', {'uid':user.uid, 'state':'REJ'})}}" type="button" class="btn btn-danger">{{ 'book.state.wait.admin.ref'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
