{% extends 'booking/manage/layout.html.twig' %}

{% block title %}{{parent()}} • Employee{% endblock %}

{% block contenthead %}
<h3 class="card-header">Create new user</h3>
<div class="card-block">
    <a class="btn btn-primary" href="{{path('fos_user_registration_register')}}">{{ 'registration.submit'|transchoice(0, {}, 'FOSUserBundle') }}</a>
</div>
{% endblock %}

{% block contentinterne %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Last login</th>
            <th>Airline</th>
        </tr>
    </thead>
    <tbody>
        {% for user in entities %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.lastlogin|date('d-M-Y H:i')}}</td>
            <td>{{user.compagny ? user.compagny.name : 'All'}}</td>
            <td>
                <a href="{{ path('admin.manage.users.remove', {'id':user.id})}}" type="button" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
