{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Expert Webooking{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/gentella.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
{% endblock %}


{% block headscripts %}
    {{parent()}}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/moment/min/moment.min.js')) }}"></script>
{% endblock %}

{% block body %}

    <div class="container body">
        <div class="main_container">
            {% include 'dashboard/left_menu.html.twig' %}
            {% include 'dashboard/navigation.html.twig' %}


            <!-- page content -->
            <div class="right_col" role="main">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-{{ type }}">
                                    <strong>{{ type }}</strong> {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>


            {% include 'dashboard/footer.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ asset('assets/js/gentella.js') }}"></script>
    <script>
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            // other options
        });
    </script>
{% endblock %}
