
<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"></i> <span>Unic Webooking</span></a>
        </div>

        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    {% if app.user %}
                        <li><a href="{{ path('booking_app_book_index') }}"><i class="fa fa-calendar"></i> Dashboard</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('booking_app_book_list') }}"><i class="fa fa-archive"></i> Archive</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock"></i> Login</a></li>
                        <li><a href="{{ path('fos_user_resetting_request') }}"><i class="fa fa-refresh"></i> Reset</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="menu_section">
                    <h3>Manage</h3>
                    <ul class="nav side-menu">
                        <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'user'}) }}"><i class="fa fa-user"></i> Users</a></li>
                        <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'client'}) }}"><i class="fa fa-users"></i> Clients</a></li>
                        <li>
                            <a><i class="fa fa-book"></i> Catalog <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'product'}) }}">Articles</a></li>
                                <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'service'}) }}">Classification Services</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'airport'}) }}"><i class="fa fa-plane"></i> Airports</a></li>
                        <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'car'}) }}"><i class="fa fa-automobile"></i> Cars</a></li>
                        <li><a href="{{ path('db.manager.process', {actionID: 'list', name: 'location'}) }}"><i class="fa fa-location-arrow"></i> Locations</a></li>
                    </ul>
                </div>
            {% endif %}

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>