<table class="table col-lg-12 col-sm-12 col-xs-12">
    <tr>
        <td>Date</td>
        <td>{{ product.date|date('d-M-Y') }}</td>
    </tr>
    <tr class="section">
        <td colspan="2">Details</td>
    </tr>
    <tr>
        <td>Code</td>
        <td>{{ product.limousine.car.name }}</td>
    </tr>
    <tr>
        <td>Destination</td>
        <td>{{ product.limousine.pickUp }} -> {{ product.limousine.dropOff }}</td>
    </tr>
    <tr class="section">
        <td colspan="2">More Informations</td>
    </tr>
    <tr>
        <td>Note</td>
        <td>{{ product.note }}</td>
    </tr>
</table>